/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #f8f8f8;
}

body {
  font-family: 'Montserrat';
  max-width: 500px;
  margin: auto;
}

/* Navigation Styles */
.navbar {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #777;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar a:hover {
  color: #29bb9c
}





/*
body {
  font-size: 12px;
  font-family: sans-serif;
  text-align: center;
}

.navbar {
  background: red;
}

.banner {
  background: green;
}

.content-one {
  background: blue;
}

.content-second {
  background: purple;
}

footer {
  background: gray;
} */